/*welcome */
.jumbotron-extend {
    height: 100vh;
}

.jumbotron-extend {
    background-color: transparent;
    position: relative;
    height: 80vh;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.container-fluid p {
    margin-bottom: 0;
}

.colored {
    background-color:#EFF2F1;
}

.uncolored {
    background-color: white;
}

.title {
    font-weight: bold;
    opacity: 0.5;
}

.content p{
    text-align: justify;
    font-size: 22px;
}

.button1{
     display:inline-block;
     width: 250px;
     height:70px;
     line-height: 70px;
     color: #FFF;
     text-decoration: none;
     text-align: center;
     background-color: #3CAFC1; 
     border-radius: 5px;
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
     font-size: larger;
}
.button1:hover{
     background-color: #fff;
     text-decoration: none;
     color:#3CAFC1;
     border: 2px solid #3CAFC1;
} 

.button1:active {
     margin-top: 6px;
     border-bottom: none;
     -webkit-transform: translateY(6px);　/*下移動*/
     transform: translateY(6px);
}


#logo {
    position: absolute;
    bottom: 10%;
    left: 3%;
    width: 95%;
    
}

#logo h1 {
    line-height: 1em;
    color: white;
}

#logo p {
    color: white;
}
nav ul {
    right: 3%;
    
}
.row p{
  text-align: justify;  
}

.navbar-home {
    background-color: transparent;
}




body {
    color: #3D3F3E;
    background-color: #EFF2F1;
}

a {
    color:#3CAFC1;
}

.navbar-extend {
    color: #3D3F3E;
    background-color: #EFF2F1;
}

.navbar-extend a {
    color: #3D3F3E;
}

.navbar-extend a:hover{
    font-weight: normal;
    text-decoration: none;
}

.btn-black {
    color: #EFF2F1;
    background-color: #3D3F3E;
}
.btn-blue {
    color:#EFF2F1;
    background-color: #3CAFC1;
}

.btn-blue:hover{
    color:#EFF2F1;
    background-color: #3CAFC1;
}

/*home*/
.mainmenu .col-3{
    border-right: 1px solid #ddd;
}

.mainmenu i{
    font-size: xx-large;
    display: inline-block;
    color: #3CAFC1;
}

.mainmenu i:hover{
    font-weight: bolder;   
}

/*.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;

}*/

div.row.item{
    margin-top: 40px;
}

.container.item{
    margin-top: 60px;
}

.my-orange {color: #fecb81}

/*
.chatbox img {
    width:80px;
　　height:80px;
　　right: 0;
　　
}
*/


.navbar-brand {
    
    font-size: 30px;
}

.ribbon_box3{
    display: block;
    position: relative;
    /*margin: 15px auto;
    padding: 10px 0;*/
    background: #f1f1f1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
}

.ribbon_area {
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    height: 85px;
    overflow: hidden;
  }

.ribbon16 {
    display: inline-block;
    position: absolute;
    padding: 5px 0;
    left: -24px;
    top: 20px;
    width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    background: #E5399D;
    color: #fff;
    letter-spacing: 0.05em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 0 2px rgb(229, 57, 157);
    border-top: dashed 1px rgba(255, 255, 255, 0.65);
    border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}

.ribbon17{
    display: inline-block;
    position: absolute;
    padding: 5px 0;
    left: -24px;
    top: 20px;
    width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    background: #63B9C6;
    color: #fff;
    letter-spacing: 0.05em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 0 2px rgb(99, 185, 198);
    border-top: dashed 1px rgba(255, 255, 255, 0.65);
    border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}

.conte-space {
    margin-top: 30px;
    
}

.title-space h1{
    margin-top: 40px;
}

.borrow-button{
    margin-top: 50px;
}

.icon.container {
	width: 110px ;
	height: 110px ;
	line-height: 100px ;
	text-align: center ;
}

.target {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.container:hover .target {
	transform: rotateZ( 360deg ) ;
}

/*usericon*/
.usericon {
    border-radius: 50%;
    height:50px;
    width:50px;
}

.lasticon{
    display:inline-block;
    border-radius: 50%;
    height:50px;
    width:50px;
    background:#383c3c;
    text-align:center;
    line-height:50px;
}

.jumbotron-home {
  background-color:#1B435D;
}

/*fikidashi*/
 .fukidashi {
      display: none;
      width: 200px;
      position: absolute;
      top: 270px;
      left: 500px;
      padding: 16px;
      border-radius: 5px;
      background: #33cc99;
      color: #fff;
      font-weight: bold;
    }
    .fukidashi:after {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      bottom: -19px;
      margin-left: 10px;
      border: solid transparent;
      border-color: rgba(51, 204, 153, 0);
      border-top-color: #33cc99;
      border-width: 10px;
      pointer-events: none;
      content: " ";
    }
    .othergroups:hover + .fukidashi {
      display: block;
    }

.othergroups {
    position:relative;
}

