

.jumbotron-extend {
    background-color: transparent;
    position: relative;
    height: 80vh;
}

#logo {
    position: absolute;
    bottom: 10%;
    left: 3%;
    
}

#logo h1 {
    line-height: 1em;
}
nav ul {
    right: 3%;
    
}
.row p{
  text-align: justify;  
}

.navbar-home {
    background-color: transparent;
}




body {
    color: #3D3F3E;
    background-color: #EFF2F1;
}

a {
    color:#3CAFC1;
}

.navbar-extend {
    color: #3D3F3E;
    background-color: #EFF2F1;
}

.navbar-extend a {
    color: #3D3F3E;
}

.navbar-extend a:hover{
    font-weight: bold;
    text-decoration: none;
}

.btn-black {
    color: #EFF2F1;
    background-color: #3D3F3E;
}
