/*welcome */
.jumbotron-extend {
    height: 100vh;
}

.jumbotron-extend {
    background-color: transparent;
    position: relative;
    height: 80vh;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.container-fluid p {
    margin-bottom: 0;
}

.colored {
    background-color:#EFF2F1;
}

.uncolored {
    background-color: white;
}

.title {
    font-weight: bold;
    opacity: 0.5;
}

.content p{
    text-align: justify;
    font-size: 22px;
}

.button1{
     display:inline-block;
     width: 250px;
     height:70px;
     line-height: 70px;
     color: #FFF;
     text-decoration: none;
     text-align: center;
     background-color: #6088C6; 
     border-radius: 5px;
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
     font-size: larger;
}
.button1:hover{
     background-color: #fff;
     text-decoration: none;
     color:#6088C6;
     border: 2px solid #6088C6;
} 

.button1:active {
     margin-top: 6px;
     border-bottom: none;
     -webkit-transform: translateY(6px);　/*下移動*/
     transform: translateY(6px);
}


#logo {
    position: absolute;
    bottom: 10%;
    left: 3%;
    width: 95%;
    
}

#logo h1 {
    line-height: 1em;
    color: white;
}

#logo p {
    color: white;
}
nav ul {
    right: 3%;
    
}
.row p{
  text-align: justify;  
}

.navbar-home {
    background-color: transparent;
}




body {
    color: #3D3F3E;
    background-color: #EFF2F1;
}

a {
    color:#6088C6;
}

.navbar-extend {
    color: #3D3F3E;
    background-color: #EFF2F1;
}

.navbar-extend a {
    color: #3D3F3E;
}

.navbar-extend a:hover{
    font-weight: normal;
    text-decoration: none;
}

.btn-blue {
    color: #fff;
    background-color: #6088C6;
}


.btn-blue:hover{
    color:#6088C6;
    background-color: #fff;
    border: 1px solid #6088C6;
}

.btn-orange {
    color: #fff;
    background-color: #F99F48;
}


.btn-orange:hover{
    color:#F99F48;
    background-color: #fff;
    border: 1px solid #F99F48;
}

/*home*/
.mainmenu .col-3{
    border-right: 1px solid #ddd;
}

.mainmenu i{
    font-size: xx-large;
    display: inline-block;
    color: #6088C6;
}

.mainmenu i:hover{
    font-weight: bolder;   
}

/*.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;

}*/

div.row.item{
    margin-top: 40px;
}

.container.item{
    margin-top: 60px;
}

.my-orange {color: #fecb81}


.navbar-brand {
    
    font-size: 30px;
}

.ribbon_box3{
    display: block;
    position: relative;
    /*margin: 15px auto;
    padding: 10px 0;*/
    background: #f1f1f1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
}

.ribbon_area {
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    height: 85px;
    overflow: hidden;
  }

.ribbon16 {
    display: inline-block;
    position: absolute;
    padding: 5px 0;
    left: -24px;
    top: 20px;
    width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    background: #fcca7e;
    color: #fff;
    letter-spacing: 0.05em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 0 2px rgb(252, 202, 126);
    border-top: dashed 1px rgba(255, 255, 255, 0.65);
    border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}

.ribbon17{
    display: inline-block;
    position: absolute;
    padding: 5px 0;
    left: -24px;
    top: 20px;
    width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    background: #AEC4E5;
    color: #fff;
    letter-spacing: 0.05em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 0 2px rgb(174, 196, 229);
    border-top: dashed 1px rgba(255, 255, 255, 0.65);
    border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}

.conte-space {
    margin-top: 30px;
    
}

.title-space h1{
    margin-top: 40px;
}

.borrow-button{
    margin-top: 50px;
}

.icon.container {
	font-size: 3em;
}

i.far.fa-circle.fa-stack-2x {
    color:#fcca7e; 
}

i.far.fa-comments.fa-stack-1x.faa-wrench.animated-hover{
    color: #fcca7e;
}

.active{
    background-color: #6088C6;
    color: white;
    border-bottom: 1px solid #6088C6;
}
.active i{
    color:white;
}

.active a{
   color: white;
}

.mainmenu.sen{
    border-bottom: 2px solid #6088C6;
}

.filter{
     background-color: #000;
     display: inline-block;
}

.card-img-top.close{
   opacity: 0.3;    
   display: block;
}

/*usericon*/
.usericon {
    border-radius: 50%;
    height:50px;
    width:50px;
}

.usericon.ssize {
    border-radius: 50%;
    height:40px;
    width:40px;
}

.usershowicon {
    border-radius: 50%;
    height:150px;
    width:150px;
}


.lasticon{
    display:inline-block;
    border-radius: 50%;
    height:50px;
    width:50px;
    background:#383c3c;
    text-align:center;
    line-height:50px;
}

.jumbotron-home {
  background-color:#1B435D;
}

.mycomment {
    position: relative;
    background-color: #B4CCE3;
}
.mycomment:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #B4CCE3;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.otherscomment {
    position: relative;
}

.otherscomment:after {
    content: "";
    position: absolute;
    top: 3px; 
    left: -19px;
    border: 8px solid transparent;
    border-left: 18px solid white;
    -ms-transform: rotate(-145deg);
    -webkit-transform: rotate(-145deg);
    transform: rotate(-145deg);
}


/*About us */
.fa-border {
    color: #D6D1CD;
}

.fa-hand-holding-heart {
    color: #E5399D;
}

.fa-people-carry{
    color: #3CAFC1;
}

.fa-comments{
    color: #E2C73F;
}

.box1 {
background: #fcca7e;/*背景色*/
border-top: solid 6px #F99F48;
box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

.box2 {
background: #AEC4E5;/*背景色*/
border-top: solid 6px #1dc1d6;
box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

/*chat*/
#bms_send_message{
    width: calc(100% - 75px);
    line-height: 16px;
    height: 48px;
    padding: 14px 6px 0px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
}

#bms_send_btn {
    width: 72px;
    height: 48px;
    font-size: 16px;
    line-height: 3em;
    float: right;
    color: #fff;
    font-weight: bold;
    background: #6088C6;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}
#bms_send_btn:hover {
    background-color:#fff;
    color: #6088C6;
    border: 1px solid #6088C6;
    cursor: pointer;
}


nav-item.sample {
	position: relative;
	width: 300px;
	height: 200px;
	box-shadow: 1px 1px 1px #ccc;
	z-index: auto;
}

.sample .box {
	position:absolute;
	width: 300px; /* 吹き出しの幅 */
	height: 60px; /* 吹き出しの高さ */
	top: -76px; /* 吹き出しと三角形の高さをプラスした値 */
	left: 0;
	border-radius: 10px 10px 10px 10px;
	background-color: #FFF;
	display: none;
}
.sample .box:after { /* 三角形を作成 */
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: 60px; /* 吹き出しの高さと同じ値 */
	left: 32px;
	border: 16px solid transparent;
	border-top: 16px solid #FFF;
}
.sample .text {
	font-size: 16px;
	position: absolute;
    padding: 20px 40px;
	color: #000;
}
.sample:hover .box {
	z-index: 2;
	display: block;
}




/*home*/
.card-img-home {
    opacity:0.5;
　　display: block;
}

.group-name{
    text-align: center;
    padding-top:15%;
    font-size:150%;

}

.under{
position: relative;
display: block;
padding: 0 55px;

}

.under:before, .under:after{
content: '';
position: absolute;
top: 50%;
display: inline-block;
width: 15%;
height: 1px;
background-color: #6088C6;

}

.under:before {left:0;}
.under:after {right: 0;}

/*footer*/

